####Theory Questions

1. What are data structures, and why are they important?

Data structures are ways of organizing and storing data to perform operations efficiently.

They are important because they help improve the performance of algorithms, manage large datasets,
and solve problems effectively by providing optimized ways to access, insert, and modify data.

2. Explain the difference between mutable and immutable data types with examples.

Mutable data types can be changed after creation. Example:
Lists can have their elements added, removed, or changed.

Immutable data types cannot be modified after creation. Example: Strings and Tuples can't be changed once created.

3. What are the main differences between lists and tuples in Python?

Lists are mutable (can be changed), ordered, and allow duplicates.

Tuples are immutable (cannot be changed), ordered, and also allow duplicates. They are often used when data should not be altered.

4. Describe how dictionaries store data.

Dictionaries store data as key-value pairs. Each key is unique, and the associated value can be accessed quickly using the key. They are implemented using hash tables for fast lookups.

5. Why might you use a set instead of a list in Python?

A set is used when you need to ensure uniqueness of elements and perform set operations like union, intersection, and difference.

Unlike a list, sets automatically eliminate duplicates and provide faster membership tests (O(1) time complexity on average).

6. What is a string in Python, and how is it different from a list?

A string is an immutable sequence of characters, while a list is a mutable collection of items that can be of different data types.
Strings are specifically for text, while lists can hold any type of data and can be modified.

7. How do tuples ensure data integrity in Python?

Tuples ensure data integrity by being immutable, meaning their elements cannot be changed, added, or removed after creation.

This makes them ideal for representing fixed, unchangeable data.

8. What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a data structure that stores data in key-value pairs, using a hash function to compute the index for storing or retrieving data.

Dictionaries in Python are implemented using hash tables, allowing for fast lookups and insertions by key.

9. Can lists contain different data types in Python?

Yes, lists in Python can contain elements of different data types, such as integers, strings, floats, and even other lists or objects.

10. Explain why strings are immutable in Python.

Strings are immutable in Python to ensure consistency, memory efficiency, and performance optimization.

Immutable strings allow for interning (reuse of identical string objects) and prevent accidental modifications of text data.

11. What advantages do dictionaries offer over lists for certain tasks?

Dictionaries offer faster lookups, insertions, and deletions by key (O(1) time complexity on average), making them ideal when you need to associate and retrieve data using unique keys.

In contrast, lists require linear search (O(n)) for element lookup.

12.Describe a scenario where using a tuple would be preferable over a list.

Use a tuple when you need to store a collection of data that should remain constant, like a fixed set of coordinates (e.g., latitude, longitude), or when you want to ensure data integrity by preventing accidental modification.

13.
How do sets handle duplicate values in Python?

Sets automatically remove duplicates.

If you attempt to add a duplicate value, it will be ignored, ensuring that each element in a set is unique.

14.How does the “in” keyword work differently for lists and dictionaries?

In lists, the "in" keyword checks if an element exists by searching through the list (O(n) time complexity).

In dictionaries, it checks if a key exists, which is much faster (O(1) on average) due to the underlying hash table.

15.Can you modify the elements of a tuple? Explain why or why not.

No, you cannot modify the elements of a tuple because tuples are immutable.

Once created, the data inside a tuple cannot be changed, which ensures the integrity of the stored values.

16. What is a nested dictionary, and give an example of its use case.

A nested dictionary is a dictionary where the values themselves are dictionaries. It is useful for representing hierarchical data.

In [1]:
users = {
    "user1": {"name": "Alice", "age": 30, "address": {"city": "New York", "zip": "10001"}},
    "user2": {"name": "Bob", "age": 25, "address": {"city": "San Francisco", "zip": "94101"}}
}

17. Describe the time complexity of accessing elements in a dictionary.

The time complexity for accessing elements in a dictionary is O(1) on average.

This is because dictionaries in Python are implemented using hash tables, which allow for constant-time lookups by key.

18. In what situations are lists preferred over dictionaries?

Lists are preferred when the order of elements is important, or when you need to store a sequence of items.

They are ideal for cases where elements are accessed by index rather than by a unique key.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Dictionaries are considered unordered because the keys are stored in a hash table, and the order of insertion is not guaranteed (before Python 3.7).

This means that you cannot rely on the order of elements when retrieving data. However, from Python 3.7 onwards, dictionaries maintain insertion order, though they are still conceptually unordered in terms of key lookup.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

In a list, data is accessed by index (position in the sequence), and retrieval is based on the index value.

In a dictionary, data is accessed by key, and retrieval is faster (O(1) on average) due to the use of a hash table. Lists are better for ordered collections, while dictionaries are ideal for key-based lookups.

####Practical Questions

In [2]:
#1.Write a code to create a string with your name and print it

name = "Vishvajit_Nimbalkar"
print(name)

Vishvajit_Nimbalkar

In [3]:
#2. Write a code to find the length of the string "Hello World"

string = "Hello World"
print(len(string))

11

In [4]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"

string = "Python Programming"
print(string[:3])

Pyt

In [5]:
#4. Write a code to convert the string "hello" to uppercase

string = "hello"
print(string.upper())

HELLO

In [6]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

string = "I like apple"
print(string.replace("apple", "orange"))

I like orange

In [7]:
#6. Write a code to create a list with numbers 1 to 5 and print it

list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [8]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]

list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [9]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [10]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [11]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]
[50, 40, 30, 20, 10]

In [12]:
# 11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [13]:
# 12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[0])

apple

In [14]:
# 13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

my_tuple = (1, 2, 3, 2, 4, 2)
count = my_tuple.count(2)
print(count)

3

In [15]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
print(index)

1

In [16]:
#15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

my_tuple = ('apple', 'orange', 'banana')
if 'banana' in my_tuple:
    print("banana is in the tuple")
else:
    print("banana is not in the tuple")

banana is in the tuple

In [17]:
#16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [18]:
#17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

In [19]:
#18. Write a code to create a tuple with the elements 10, 20, 30 and print it

my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [20]:
#19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[0])

apple

In [21]:
#20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

my_tuple = (1, 2, 3, 2, 4, 2)
count = my_tuple.count(2)
print(count)

3

In [22]:
#21.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
print(index)

1

In [23]:
#22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

my_tuple = ('apple', 'orange', 'banana')
if 'banana' in my_tuple:
    print("banana is in the tuple")

banana is in the tuple

In [24]:
# 23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [25]:
# 24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}